    /* Estilizando o menu */
#menu {
  opacity: 0.8;
  background-color: rgb(65, 65, 65);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'Lato', sans-serif;
  z-index: 1;
}
#menu ul {
  list-style: none;
  margin: 0;
  text-align: right;

}

#menu li {
    display: inline-block;
  text-align: center;
  margin-left: 0;
  padding: 0;
}

#menu li a {
  display: block;
  padding: 1rem 2rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: background-color 0.5s ease;

}

#menu li:hover a {
  background-color: rgb(0, 0, 0);

}

#menu li:hover ul {
  display: block;
  position: absolute;
}

#menu li ul li {
  width: 200px;
  background-color: rgb(255, 255, 255);
  display: block;
}
#menu li ul {
  display: none;
  position: absolute;
  transition: all 0.8s ease;
  background-color: #ccc;
    border-radius: 50%;
  border-color: #000;
 border-width: 2px;

}

#menu li:hover ul {
  display: block;
  background-color: #ccc;
}

    
    /* Estilizando o fundo */
    body {
    background-size: cover;
    background-position: center;
    background-color: #888888;
    background-attachment: fixed;
    }
    #iframe {
  display: none;
  max-width: auto; 
  min-width: 320px; /* mínima largura é 320px */
  max-height: 900px; /* máxima altura é 800px */
  min-height: 240px; /* mínima altura é 240px */
  position: absolute;

left: 50%;
transform: translate(-50%);
width: 80%;
height: 90%;
  border: 1px solid black;
  border-radius: 0.5%;
  box-shadow: 0px 0px 17px 5px rgb(75 75 75);
  margin-top: 50px;
  z-index: 0;
}